<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/import/jquery-3.7.1.min.js"></script>
    <link href="/import/bootstrap.min.css" rel="stylesheet">
    <script src="/import/bootstrap.min.js"></script>
    <script src="/javascript/idb-utility.js"></script>
    <script src="/javascript/main.js"></script>
    <style>
        html,
        body {
            margin: 0;
            height: 100%;
            width: 100%;
        }

        /* 自定义样式 */
        .plant-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .plant-card img {
            max-width: 100%;
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
<H3>All Plants</H3>
<div class="">
<!--    <div id="output"></div>-->
<!--    <% for (var i = 0; i < plantList.length; i++) { %>-->
<!--        <% if (i % 4 === 0) { %>-->
<!--        <div class="row">-->
<!--            <% } %>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="plant-card text-center">-->
<!--                    <a href="/detail?plantId=<%= plantList[i].plantId %>" class="card-link" onclick="savePlantId('<%=plantList[i].plantId%>')">-->
<!--                    <img src="<%= plantList[i].photoPath %>" alt="<%= plantList[i].plantName %>"-->
<!--                             class="img-fluid mx-auto">-->
<!--                        <div class="mt-3">-->
<!--                            <h3><%= plantList[i].plantName %></h3>-->
<!--                            <p><%= plantList[i].description %></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <% if ((i + 1) % 4 === 0 || i === plantList.length - 1) { %>-->
<!--        </div>-->
<!--        <% } %>-->
<!--    <% } %>-->
</div>
<div class="container"></div>
</body>
<script>

    //不论online/offline，都从IDB获取plants
    //都使用dom进行页面渲染（放弃ejs）
    //详见main.js
</script>
</html>